body
{
  background-image: url(../images/Leap-Day-and-Leap-Year-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.card
{
  background-image: linear-gradient(to bottom right, #96deda, #50c9c3);
  opacity: 0.9;
}
